<h1>Bibliomes</h1>

<ul>
  <% for item in @bibliomes -%>
  <li><%= link_to(h(item.query), bibliome_path(item))%> <span class="age">(<%= time_ago_in_words(item.built_at)%> ago)</span></li>
  <% end -%>
</ul>

<%= link_to 'New bibliome', new_bibliome_path %>