<h1><%= link_to(h(@bibliome.query), bibliome_path(@bibliome)) %></h1>

<ol>
<% @articles.each do |article| %>
  <li class="citation"><div class="title"><%= article.title %></div><div class="authors"><%= article.authors.map {|a| a.init_name}.join(", ")%></div><div class="source"><%= article.source %></div></li>
<% end -%>
</ol>