<% page_title("Help") -%>
<h2>Frequently Asked Questions</h2>

<ul>
  <li><a href="http://www.ncbi.nlm.nih.gov/bookshelf/br.fcgi?book=helppubmed&part=pubmedhelp" target="_blank">PubMed Help (NCBI)</a></li>
</ul>