<% page_title("Home") -%>
<h1>Medvane: Biomedical Research at a Glance</h1>

<h2>Build Your Own Bibliome</h2>

<% form_tag pubmed_path, :method => "get", :id => "pubmed_search" do %>
  <%= text_field_tag('q', @q, :id => "pubmed_search_q") %>
  <%= hidden_field_tag('count', @count, :name => nil) %>
  <%= submit_tag "Search PubMed", :name => nil, :disable_with => "Searching PubMed ...", :id => "pubmed_search_submit" %>
<% end -%>

<h2>Recent Bibliomes</h2>

<h2>Popular Bibliomes</h2>