<% page_title("Subjects", @bibliome.query)%>
<h2>Subjects</h2>
<%= page_entries_info @subjects %>
<ol>
<% @subjects.each do |s| -%>
  <li><%= link_to(s.subject.term, bibliome_subject_path(@bibliome, s.subject, :period => @period)) %> <span class="count">(<%= s.articles_count %>)</span></li>
<% end -%>
</ol>
<%= will_paginate @subjects %>