<h1><%= link_to(h(@bibliome.query), bibliome_path(@bibliome)) %></h1>

<h2>Journals</h2>
<ol>
<% @journals.each do |j| -%>
  <li><%= link_to(j.journal.abbr, bibliome_journal_path(@bibliome, j.journal)) %> <span class="count">(<%= j.all %>)</span></td>
<% end -%>
</ol>

