<h2>Journals</h2>
<%= page_entries_info @journals %>
<ol>
<% @journals.each do |j| -%>
  <li><%= link_to(j.journal.abbr, bibliome_journal_path(@bibliome, j.journal)) %> <span class="count">(<%= j.all %>)</span></td>
<% end -%>
</ol>
<%= will_paginate @journals %>