<h1><%= link_to(h(@bibliome.query), bibliome_path(@bibliome)) %></h1>

<ol>
<% @pubtypes.each do |p| -%>
  <li><%= link_to(p.pubtype.term, bibliome_pubtype_path(@bibliome, p.pubtype))%></li>
<% end -%>
</ol>