<% page_title(@pubtype.term, "Pubtypes", @bibliome.query)%>
<h2><%= @pubtype.term %></h2>
<%= publication_history(@bibliome, @pubtype) %>
<%= top_neighbors(@journals, "journal")%>
<%= top_neighbors(@authors, "author")%>